@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap&subset=korean'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700,900);*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing:border-box; -moz-box-sizing:border-box;
	line-height:1;
	word-break:keep-all;
	word-break:break-word;
}

html, body {width:100%;}
img {max-width:100%;}

body,table,input,textarea, button {font-size:14px; /*font-family: 'Noto Sans KR', sans-serif;*/ font-family: 'Pretendard', 'nanumsquare','Poppins', sans-serif !Important; color:#444444; font-weight:400;line-height:1; box-sizing:border-box;}

a { color:#333; text-decoration:none;}
a:hover { text-decoration:none;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

label {cursor:pointer;}